:root {
  --color-text: #0a1708, --color-background: #f1faef, --color-primary: #2b671d,
    --color-secondary: #8ce07b, --color-accent: #43c729;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--color-background);
}

/* 
* PAGE AIDE
*/
.help-header {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--color-secondary);
}

.help-header h2 {
  text-align: center;
  width: 100%;
}
