<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Page - General</title>
    <link rel="stylesheet" href="../main.css" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img src="../Ressources/Images/logo.png" height="90" width="100" />
        </div>
        <div>
          <a class="active">Accueil</a>
          <a>Logement</a>
          <a href="PageTroc.html">Troc</a>
          <a href="PageGeneral.html">Information</a>
        </div>
        <div>
          <a href="PageAuth.html">Connexion</a>
        </div>
      </nav>
    </header>
  </body>
</html>
